rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /games/quiz {
      match /questions/{document=**} {
        allow write: if true;
        allow read: if true;
      }
      match /admin/{document=**} {
        allow write: if true;
        allow read: if true;
      }
      match /rounds/{document=**} {
        allow write: if true;
        allow read: if true;
      }
      match /rounds/{round}/players/{document=**} {
        allow write: if true;
        allow read: if true;
      }
    }
  }
}
